* {
    box-sizing: border-box;
}

.headerItem{
    display: inline-block;
}

header p {
    display: inline-block; 
}

nav {
    background-color: #999999; 
    padding: 15px; 
}

nav ul li {
    list-style: none;  
}
p {
    line-height: 25px;
}

h1 {
    margin-left: 40px; 
}
h3 {
    text-align: center; 
}

.stateCapsContainer {
    text-align: center; 
}

.contactMeContainer{
    text-align: center;
}

.projectsContainer {
    background-color: #999999; 
}

@media (min-width: 500px){

    nav {
        padding: 5px; 
    }

    nav ul {
        display: flex; 
        justify-content: space-evenly;
    }
    nav ul li {
        display: inline; 
    }
    .stateCapsContainer {
        display: flex; 
        flex-direction: row-reverse; 
        justify-content: flex-end; 
    }
    .stateCapsContainer div {
        display: inline-block; 
    }

}

